<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agency Adopted Pets</title>
    <style>
        .pet-container {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
        }

        .pet-image {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
{% include 'navbar.html' %}
<h2>Agency Adopted Pets</h2>

{% if session['agency'] %}

{% if not pets %}
<p>No pets by the agency found on record</p>
{% else %}

{% for pet in pets %}
    <div class="pet-container">
        <img class="pet-image" src="{{ pet.image_link }}" alt="{{ pet.pet_name }}">
        <p>{{ pet.pet_name }}</p>
        <p>{{ pet.breed_name}}</p>
        <a href="{{ url_for('pet_details', pet_id=pet.pet_id) }}">
            <button>View Details</button>
        </a>
        <br>
        <a href="{{ url_for('delete_agency_pet', pet_id=pet.pet_id) }}" onclick="return confirm('Are you sure you want to remove this pet from your agency?')"><Button>Remove Pet from Agency</Button></a>
    </div>
{% endfor %}
{% endif %}

<a href="{{ url_for('add_agency_pet') }}"><Button>Add Adopted Pet</Button></button>

{% else %}
<p>You have to be signed in as Agency to view this page</p>

{% endif %}
</body>
</html>
