<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Details Form</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-5">
        <h1 class="text-center">Enter Pet Details</h1>
        <form action="{{ url_for('add_agency_pet') }}" method="post" enctype="multipart/form-data">
            <div class="row">

                <div class="col-md-6">

                    <div class="form-group">
                        <label for="pet_name">Pet Name:</label>
                        <input type="text" class="form-control" id="pet_name" name="pet_name" required>
                    </div>

                    <div class="form-group">
                        <label for="pet_type">Pet Type:</label>
                        <select class="form-control" id="pet_type" name="pet_type" required>
                            <option value="Dog">Dog</option>
                            <option value="Cat">Cat</option>
                            <option value="Bird">Bird</option>
                            <option value="Rodents">Rodents</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="age">Age:</label>
                        <input type="number" class="form-control" id="age" name="age" required>
                    </div>

                    <div class="form-group">
                        <label for="height">Height (in inches):</label>
                        <input type="number" class="form-control" id="height" name="height" required>
                    </div>

                    <div class="form-group">
                        <label for="weight">Weight (in pounds):</label>
                        <input type="number" class="form-control" id="weight" name="weight" required>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="color">Color:</label>
                        <input type="text" class="form-control" id="color" name="color" required>
                    </div>

                    <div class="form-group">
                        <label for="breed_name">Breed Name:</label>
                        <input type="text" class="form-control" id="breed_name" name="breed_name">
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="adopted" name="adopted">
                        <label class="form-check-label" for="adopted">Adopted:</label>
                    </div>

                    <div class="form-group">
                        <label for="adopted_by">Adopted By:</label>
                        <input type="text" class="form-control" id="adopted_by" name="adopted_by">
                    </div>

                    <div class="form-group">
                        <label for="adoption_date">Adoption Date:</label>
                        <input type="date" class="form-control" id="adoption_date" name="adoption_date">
                    </div>

                    {% if not session['agency'] %}
                    <div class="form-group">
                        <label for="provided_by_agency">Provided By Agency:</label>
                        <input type="text" class="form-control" id="provided_by_agency" name="provided_by_agency">
                    </div>
                    {% else %}
                    {% endif %}
                </div>
            </div>

            <div class="form-group">
                <label for="images">Pet Images:</label>
                <input type="file" class="form-control-file" name="images" multiple accept="image/*">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
</body>
</html>
