{% extends 'base.html' %}

{% block title %}Create Agency{% endblock %}

{% block content %}
    <h1>Create Agency</h1>
    <form method="post" action="{{ url_for('create_agency') }}">
        <label for="name">Agency Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="password">Agency Password:</label>
        <input type="password" id="password" name="password" required><br>

        <label for="street_no">Agency Street Number:</label>
        <input type="number" id="street_no" name="street_no" required><br>

        <label for="street_name">Agency Street Name:</label>
        <input type="text" id="street_name" name="street_name" required><br>

        <label for="city">Agency City:</label>
        <input type="text" id="city" name="city" required><br>

        <label for="state">Agency State:</label>
        <input type="text" id="state" name="state" required><br>

        <label for="zipcode">Agency Zipcode:</label>
        <input type="number" id="zipcode" name="zipcode" maxlength="5" required><br>

        <label for="first_name">Agency Contact First Name:</label>
        <input type="text" id="first_name" name="first_name" required><br>

        <label for="last_name">Agency Contact Last Name:</label>
        <input type="text" id="last_name" name="last_name" required><br>

        <label for="contact">Agency Contact Number:</label>
        <input type="number" id="contact" name="contact" required><br>

        <input type="submit" value="Create Agency">
    </form>
{% endblock %}