{% extends 'base.html' %}

{% block title %}Edit Agency{% endblock %}

{% block content %}
    <h1>Edit User</h1>
    <form method="post" action="{{ url_for('edit_agency', agency_name=agency.agency_name) }}">
        <label for="name">Agency Name:</label>
        <input type="text" id="name" name="name" value="{{ agency.agency_name }}" required><br>

        <label for="password">Agency Password:</label>
        <input type="password" id="password" name="password" value="{{ agency.agency_password }}" required><br>

        <label for="street_no">Agency Street Number:</label>
        <input type="number" id="street_no" name="street_no" value="{{ agency.agency_street_no }}" required><br>

        <label for="street_name">Agency Street Name:</label>
        <input type="text" id="street_name" name="street_name" value="{{ agency.agency_street_name }}" required><br>

        <label for="city">Agency City:</label>
        <input type="text" id="city" name="city" value="{{ agency.agency_city }}" required><br>

        <label for="state">Agency State:</label>
        <input type="text" id="state" name="state" value="{{ agency.agency_state }}" required><br>

        <label for="zipcode">Agency Zipcode:</label>
        <input type="number" id="zipcode" name="zipcode" value="{{ agency.agency_zip }}" maxlength="5" required><br>

        <label for="first_name">Agency Contact First Name:</label>
        <input type="text" id="first_name" name="first_name" value="{{ agency.agency_contact_first_name }}" required><br>

        <label for="last_name">Agency Contact Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="{{ agency.agency_contact_last_name }}" required><br>

        <label for="contact">Agency Contact Number:</label>
        <input type="number" id="contact" name="contact" value="{{ agency.agency_contact_number }}" required><br>

        <input type="submit" value="Edit Agency">
    </form>
{% endblock %}