# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

flask_session/

# C extensions
*.so

config.py

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# pyenv
.python-version

# dotenv
.env

# virtualenv
venv/
ENV/
env/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# PyCharm
.idea/
*.iml
*.iws
*.ipr

# Visual Studio Code
.vscode/
*.code-workspace

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile
Pipfile.lock

# poetry
poetry.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
.sageMath/
*.sageMath

# Environments
.env
.ebextensions/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# JetBrains
.idea/

# vscode
.vscode/
