<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoption Menu</title>
    <style>
        /* Add some styling to the container */
        .pet-container {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
        }

        .pet-image {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}


{% if adopted %}
    <h2>Your Adopted Pets</h2>
    {% for pet in pets %}
    <div class="pet-container">
        <img class="pet-image" src="{{ pet.image_link }}" alt="{{ pet.pet_name }}">
        <p>{{ pet.pet_name }}</p>
        <p>{{ pet.breed_name}}</p>
        <a href="{{ url_for('pet_details', pet_id=pet.pet_id) }}">
            <button>View Details</button>
        </a>
    </div>
    {% endfor %}
{% else %}
<h2>Pets you can Adopt</h2>
{% for pet in pets %}
    <div class="pet-container">
        <img class="pet-image" src="{{ pet.image_link }}" alt="{{ pet.pet_name }}">
        <p>{{ pet.pet_name }}</p>
        <p>{{ pet.breed_name}}</p>
        <a href="{{ url_for('pet_details', pet_id=pet.pet_id) }}">
            <button>View Details</button>
        </a>
        <a href="{{ url_for('adopt_pet', pet_id=pet.pet_id) }}" onclick="return confirm('Are you sure you want to adopt this pet?')">
            <button>Adopt Pet</button>
        </a>
    </div>
{% endfor %}
{% endif %}
</body>
</html>