<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pet Care and Tracking{% endblock %}</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Optional: Include Bootstrap Icons (if needed) -->
</head>
<body>
    <div class="container">
        {% block content %}
            <h1>
                Welcome to our pet care website!
            </h1>
        {% endblock %}
    </div>
</body>
</html>
