<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Pet Adoption and Care System</title>
</head>
<body>
    <header>
        <h1>Welcome to Pet Adoption and Care System</h1>
    </header>
    
    <section>
        {% include 'navbar.html' %}
        <p>
            Thank you for visiting our website! We are excited to have you here.
            Our website is dedicated to providing Pet Adoption and Care System.
            Feel free to explore and discover the many features we offer.
        </p>
    </section>

    <footer>
        <p>
            If you have any questions or need assistance, please don't hesitate to contact us.
            Enjoy your stay!
        </p>
    </footer>
</body>
</html>